<!DOCTYPE html>
<html lang="en">

<head>
    <title>GUB,NIT Silchar</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Course Project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="./image/icons/GSUB12.png" />
    <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css" />
    <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" />
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css" />
    <link rel="stylesheet" type="text/css" href="styles/main_styles.css" />
    <link rel="stylesheet" type="text/css" href="styles/responsive.css" />
    <link rel="stylesheet" href="styles/scroll.css" />
    <link rel="stylesheet" href="styles/events.css" type=text/css> </head>

<body id="div">
    <div class="super_container">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
            <div class="container">
                <!-- Brand -->
                <img src="./image/icons/GSUB12.png" style="padding:10px;width: 60px;height: 60px;">
                <a class="navbar-brand" href="#"><span>GUB</span></a>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Home</a>
                        </li>
                        <!-- Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Members
              </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/members">2019-2020</a>
                                <a class="dropdown-item" href="/oldmembers">2018-2019</a>
                                <a class="dropdown-item" href="/oldmembers2">2017-2018</a>
                                <a class="dropdown-item" href="/oldmembers3">2016-2017</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fest">Fest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/societies">Societies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/campus">Campus Life</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/activities">Activities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contacts</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div></div>
        <div class="home">
            <div class="home_background_container prlx_parent">
                <div class="home_background prlx" style="background-image: url(image/zz3.jpg)"></div>
            </div>
            <div class="home_content wow" data-wow-delay="300ms" style="border-radius: 10px" id="home_content">
                <h1>Events</h1>
            </div>
        </div>
        <!-- <div class="home_content">
            <h1 style="
            color: #ffb606;
            font-family: Georgia, 'Times New Roman', Times, serif;
          ">
                Events
            </h1>
        </div> -->

        <!-- Scroll Cards -->
        <section class="grid-item main">
            <p class="top-para">Administration</p>
            <div class="items">
                <!-- <div class="before"></div> -->
                <% events.forEach(function(event){if(event.category==='Administration'){%>
                        <div class="item item1">
                            <div class="top">
                                <div class="back-img"></div>
                                <div class="sub-topic">
                                    <h5>
                                        <%=event.heading%>
                                    </h5>
                                </div>

                            </div>
                            <div class="bottom-info">
                                <div class="info">
                                    <p class="by">By :
                                        <%=event.postedBy%>
                                    </p>

                                </div>
                                <div class="details-button">
                                    <a href="">
                                        <a href="#" class="button">Details</a>
                                    </a>
                                </div>
                            </div>
                        </div>
                <%}})%>
                <!-- <div class="item item2">
                <div class="top">
                    <div class="back-img"></div>
                    <div class="topic"></div>
                </div>
                <div class="bottom-info">
                    <div class="info">
                    <p class="by">By : John Doe</p>
                    <p class="post-date">Posted : 20/9</p>
                    </div>
                    <div class="details-button">
                    <a href="">
                        <h4 class="button">Details</h4>
                    </a>
                    </div>
                </div>
                </div>-->
                <div class="after"></div>
            </div>
            <p class="top-para">Gymkhana</p>

            <% events.forEach(function(event){if(event.category==='Gymkhana'){%>
                <div class="item item1">
                    <div class="top">
                        <div class="back-img"></div>
                        <div class="sub-topic">
                            <h5>
                                <%=event.heading%>
                            </h5>
                        </div>

                    </div>
                    <div class="bottom-info">
                        <div class="info">
                            <p class="by">By :
                                <%=event.postedBy%>
                            </p>

                        </div>
                        <div class="details-button">
                            <a href="">
                                <a href="#" class="button">Details</a>
                            </a>
                        </div>
                    </div>
                </div>
            <%}})%>
            <div class="after"></div>
            <!-- <div class="items items-B">
                <div class="item item1">
                    <div class="top">
                        <div class="back-img"></div>
                        <div class="topic"></div>
                    </div>
                    <div class="bottom-info">
                        <div class="info">
                            <p class="by">By : John Doe</p>
                            <p class="post-date">Posted : 20/9</p>
                        </div>
                        <div class="details-button">
                            <a href="">
                                <h4 class="button">Details</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->

            <p class="top-para">Clubs</p>
            <% events.forEach(function(event){if(event.category==='Clubs'){%>
                <div class="item item1">
                    <div class="top">
                        <div class="back-img"></div>
                        <div class="sub-topic">
                            <h5>
                                <%=event.heading%>
                            </h5>
                        </div>

                    </div>
                    <div class="bottom-info">
                        <div class="info">
                            <p class="by">By :
                                <%=event.postedBy%>
                            </p>

                        </div>
                        <div class="details-button">
                            <a href="">
                                <a href="#" class="button">Details</a>
                            </a>
                        </div>
                    </div>
                </div>
            <%}})%> 
            <!-- <div class="items items-C">
                <div class="item item1">
                    <div class="top">
                        <div class="back-img"></div>
                        <div class="topic"></div>
                    </div>
                    <div class="bottom-info">
                        <div class="info">
                            <p class="by">By : John Doe</p>
                            <p class="post-date">Posted : 20/9</p>
                        </div>
                        <div class="details-button">
                            <a href="">
                                <h4 class="button">Details</h4>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </section>

        <!-- <div>
            <br /><br />
            <hr />

            <p>From the administration..</p>
            <div>
                <ul class="hs full">
                    <li class="item">
                        <div class="mycard">
                            <div class="subjectIcon" style="
                    background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);
                  "></div>
                            <h4 class="topicName">Topic</h4>
                            <h4 class="topicAuthor">Author</h4>
                            <h4 class="topicDate">on Date</h4>
                        </div>
                    </li>
                    <li class="item">
                        <div class="mycard">
                            <div class="subjectIcon" style="
                    background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);
                  "></div>
                            <h4 class="topicName">Topic</h4>
                            <h4 class="topicAuthor">Author</h4>
                            <h4 class="topicDate">on Date</h4>
                        </div>
                    </li>
                    <li class="item">
                        <div class="mycard">
                            <div class="subjectIcon" style="
                    background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);
                  "></div>
                            <h4 class="topicName">Topic</h4>
                            <h4 class="topicAuthor">Author</h4>
                            <h4 class="topicDate">on Date</h4>
                        </div>
                    </li>
                </ul>
            </div>

            <p>Gymkhana Events</p>
            <div>
                <ul class="hs full">
                    <li class="item">
                        <div class="mycard">
                            <div class="subjectIcon" style="
                    background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);
                  "></div>
                            <h4 class="topicName">Topic</h4>
                            <h4 class="topicAuthor">Author</h4>
                            <h4 class="topicDate">on Date</h4>
                        </div>
                    </li>
                    <li class="item">
                        <div class="mycard">
                            <div class="subjectIcon" style="
                    background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);
                  "></div>
                            <h4 class="topicName">Topic</h4>
                            <h4 class="topicAuthor">Author</h4>
                            <h4 class="topicDate">on Date</h4>
                        </div>
                    </li>
                    <li class="item">
                        <div class="mycard">
                            <div class="subjectIcon" style="
                    background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);
                  "></div>
                            <h4 class="topicName">Topic</h4>
                            <h4 class="topicAuthor">Author</h4>
                            <h4 class="topicDate">on Date</h4>
                        </div>
                    </li>
                </ul>
            </div>

            <p>Club Activities</p>
            <div>
                <ul class="hs full">
                    <li class="item">
                        <div class="mycard">
                            <div class="subjectIcon" style="
                    background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);
                  "></div>
                            <h4 class="topicName">Topic</h4>
                            <h4 class="topicAuthor">Author</h4>
                            <h4 class="topicDate">on Date</h4>
                        </div>
                    </li>
                    <li class="item">
                        <div class="mycard">
                            <div class="subjectIcon" style="
                    background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);
                  "></div>
                            <h4 class="topicName">Topic</h4>
                            <h4 class="topicAuthor">Author</h4>
                            <h4 class="topicDate">on Date</h4>
                        </div>
                    </li>
                    <li class="item">
                        <div class="mycard">
                            <div class="subjectIcon" style="
                    background-image: url(https://static.careers360.mobi/media/article_images/2018/07/07/NIT-silchar.jpg);
                  "></div>
                            <h4 class="topicName">Topic</h4>
                            <h4 class="topicAuthor">Author</h4>
                            <h4 class="topicDate">on Date</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div> -->

        <!-- Footer -->

        <footer class="footer">
            <div class="container">
                <div class="section_title text-center">
                    <h1></h1>
                </div>

                <!-- Footer Content -->

                <div class="footer_content">
                    <div class="row">
                        <!-- Footer Column - About -->
                        <div class="col-lg-3 footer_col">
                            <!-- Logo -->
                            <div class="logo_container" style="margin-top: 18px">
                                <div class="logo">
                                    <img src="image/icons/GSUB12.png" />
                                    <span style="font-weight: 700; font-size: 20px">GUB</span>
                                </div>
                            </div>
                            <ul>
                                <li class="footer_about_text">
                                    <strong style="font-size: 2.5vh; color: ghostwhite">
                    Individually,<br />
                    &nbsp; &nbsp; &nbsp; We are One Drop...<br />Together
                    <br />
                    &nbsp; &nbsp; &nbsp; We are an Ocean...</strong>
                                </li>
                            </ul>
                        </div>

                        <!-- Footer Column - Menu -->

                        <div class="col-lg-3 footer_col">
                            <div class="footer_column_title"><b>NITS</b></div>
                            <div class="footer_column_content">
                                <ul>
                                    <li class="footer_list_item">
                                        <a href="index.html"><b>Home</b></a>
                                    </li>
                                    <li class="footer_list_item">
                                        <a href="Current Members(2019).html"><b>Members</b></a>
                                    </li>
                                    <li class="footer_list_item">
                                        <a href="FEST.html"><b>Fest</b></a>
                                    </li>
                                    <li class="footer_list_item">
                                        <a href="societies.html"><b>Societies</b></a>
                                    </li>
                                    <li class="footer_list_item">
                                        <a href="Campus Life.html"><b>Campus Life</b></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column - Usefull Links -->

                        <div class="col-lg-3 footer_col">
                            <div class="footer_column_title"><b>Useful Links</b></div>
                            <div class="footer_column_content">
                                <ul>
                                    <li class="footer_list_item">
                                        <a href="http://18.191.249.98:3000/?fbclid=IwAR1zXNaF39tKIdAAWf3E5oHbeoo58PKQwBCdyWV9_yueuqg5-Yg4d8APh_w" target="_blank" data-toggle="tooltip" data-placement="left" title="NIT Silchar Website"><b>Resource Hub</b></a>
                                    </li>
                                    <li class="footer_list_item">
                                        <a href="http://www.nits.ac.in/" target="_blank" data-toggle="tooltip" data-placement="left" title="NIT Silchar Website"><b>nits.ac.in</b></a>
                                    </li>
                                    <li class="footer_list_item">
                                        <a href="http://www.tecnoesis.org/?fbclid=IwAR2GxOEyD55Vil5cTnaK1n1ihCgVxeCgms4xGoK1eo8wqH8Q1eWZHZruhb4" target="_blank" data-toggle="tooltip" data-placement="left" title="Tecnoesis"><b>tecnoesis.org</b></a>
                                    </li>
                                    <li class="footer_list_item">
                                        <a href="https://incandobis.herokuapp.com/" target="_blank" data-toggle="tooltip" data-placement="left" title="Incandescence"><b>Incand_2020</b></a>
                                    </li>
                                    <li class="footer_list_item">
                                        <a href="http://www.nits.ac.in/AIINIT/index.html" target="_blank" data-toggle="tooltip" data-placement="left" title="ALL INDIA INTER NIT"><b>AIINIT</b></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column - Contact -->

                        <div class="col-lg-3 footer_col" id="contact">
                            <div class="footer_column_title"><b>Contact Us</b></div>
                            <div class="footer_column_content">
                                <ul>
                                    <li class="footer_contact_item">
                                        <div class="footer_contact_icon">
                                            <img src="image/icons/placeholder.svg" />
                                        </div>
                                        <span>
                      <strong>Gymkhana Union Body
                        <br />
                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; NIT
                        Silchar,Silchar
                        <!---ISSSUUEEEEE---->
                        <br />
                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; Assam-788010
                      </strong>
                    </span>
                                    </li>
                                    <li class="footer_contact_item">
                                        <div class="footer_contact_icon">
                                            <img src="image/icons/phone.png" />
                                        </div>
                                        +91-87892 86708
                                    </li>
                                    <li class="footer_contact_item">
                                        <div class="footer_contact_icon">
                                            <img src="image/icons/envelope.svg" />
                                        </div>
                                        <a href="mailto://@gymkhanaunionbodynitsilchar@gmail.com">gymkhanaunionbodynitsilchar@gmail.com</a><br /><a href="mailto://vp_gymkhana@nits.ac.in">vp_gymkhana@nits.ac.in</a>
                                        <br /><a href="mailto://gs_gymkhana@nits.ac.in">gs_gymkhana@nits.ac.in</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer -->

                <div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
                    <div class="footer_copyright">
                        <span>
              <h5 style="color: ghostwhite">
                &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                GUB NIT SILCHAR
              </h5>
              <!-- <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
            </span>
                        <span>
              <ul>
                <li>
                  <h4 style="color: ghostwhite; font-size: 15px">
                    <strong>Developers:-</strong>
                  </h4>
                </li>

                <li class="menu_social_item">
                  <a href="https://www.linkedin.com/in/aditya-singh-sisodiya-scortier/" target="_blank">Aditya Singh
                    Sisodiya</a>
                </li>

                <li class="menu_social_item" target="_blank">
                  <a href="https://www.linkedin.com/in/nabanita-bania-27b141169/" target="_blank">Nabanita Bania</a>
                </li>
              </ul>
            </span>
                    </div>
                    <div class="footer_social ml-sm-auto">
                        <ul class="menu_social">
                            <li class="menu_social_item">
                                <a href="https://www.facebook.com/GymkhanaUnionBodyNitSilchar" target="_blank"><img src="image/icons/fbb.png" height="75px" width="75px" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <a class="gotopbtn" href="#"> </a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="styles/bootstrap4/popper.js"></script>
    <script src="styles/bootstrap4/bootstrap.min.js"></script>
    <script src="plugins/greensock/TweenMax.min.js"></script>
    <script src="plugins/greensock/TimelineMax.min.js"></script>
    <script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="plugins/greensock/animation.gsap.min.js"></script>
    <script src="plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="plugins/scrollTo/jquery.scrollTo.min.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/socities.js"></script>
    <script src="js/events.js"></script>
</body>
<script>
    let bodydiv = document.getElementById("div");
    let mainId = document.getElementById("collapsibleNavbar");
    bodydiv.addEventListener("click", clickoutside);

    function clickoutside(e) {
        mainId.classList.remove("show");
    }
</script>

</html>